html 
    head 
        title #{title}
    body 
    h2 Are you sure you want to delete all usernames?

    form(action="/delete" method='GET') 
        button(type='submit' id='yes' name='yes') Delete All
    br
    br
    a(href="/") Back to home 